.minorenne
{
  background-color: #03ecfc;
}

.giovane
{
  background-color: #fc0328;
}

.menoGiovane
{
  background-color: #1cff00;
  font-weight: bold;
}

.pensionato
{
  background-color: brown;
  font-size: larger;
  font-weight: bolder;
}
